.aqua-infor-1
{
  .ro-infor
  {
    padding-bottom:30px;
    margin-bottom:40px;
    border-bottom:1px solid #CCCCCC;
    a{
      color: $color-main1;
    }
  }

  .title
  {
    font-size:18px;
    font-family:$ff-main4;
    font-weight:400;
    letter-spacing:2px;
  }
  .ro-ship
  {
    background-color: #F5F4F1;
    margin-bottom:55px;
  }
  .seperator
  {
     border-bottom:1px solid #CCCCCC;
  }
}
.aqua-infor-2
{
    a.__login:after
    {
      content: "\e086";
      display: inline-block;
      font-family:'aqua icon';
      position: relative;
      font-size:14px;
    }
  input[type=text],input[type=email]
  {
    width:100%;
    margin-bottom:30px;
  }
  .__option-count
  {
    input[type=radio]
    {
      position: absolute;
      opacity:0;
      cursor: pointer;
    }
    input[type=radio] + span:before
    {
      content: ' ';
      display: inline-block;
      width:10px;
      height:10px;
      line-height:px;
      border-radius:50%;
      border:2px solid #fff;
      cursor: pointer;
      margin-right:15px;
      text-align: center;
      overflow: hidden;
      @include easing-animation();
      box-shadow: 0px 0px 0px 1px #aaaaaa;
    }
    input[type=radio]:checked + span:before
    {

      background-color: $color-main1;
    }
  }
.btn-continue
{
  font-size:14px;;
  letter-spacing:2px;
  font-weight:200;
}
}
.w-25
{
  width:25%;;
}
.w-50
{
  width:50%;;
}
.w-75
{
  width:75%;;
}
w-100
{
  width:100%;
}