.aqua-pay
{

    input[type=radio]
    {
      opacity:0;
      z-index:5;
      position: absolute;
      cursor: pointer;
    }
  input[type=radio] + span:before
    {
      content: ' ';
      display: inline-block;
      width:18px;
      height:18px;
      line-height:15px;
      border-radius:50%;
      box-shadow: 0px 0px 0px 1px #aaaaaa;
      cursor: pointer;
      margin-right:15px;
    text-align: center;
    overflow: hidden;
    }
  input[type=radio]:checked + span:before
  {
    content: '4';
    font-family:'aqua icon';
    background-color: $color-main1;
    color: #fff;
  }
  .__infor
  {
    background-color: #F5F4F1;
  }
  .btn-sumit
  {
    padding-right:50px;
    padding-left:50px;
  }
}