<div class="aqua-infor-1 aqua-pay">
    <div class="title pdb-20">
        BILLING & PAYMENT
    </div>
    <div class="clearfix pdb-20">
        <div class="float-left">
            <input type="radio" name="item1" class="__checked" checked="checked" ><span class="__item1"></span><label>Credit card</label>
        </div>
        <div class="float-right">
            <img src="assets/images/billing1.jpg" alt="">
        </div>
    </div>
    <div class="__infor pd-20 mgb-20">
        <table>
            <tr class="w-100 ">
                <td class="w-25 pdb-15">
                    Card number
                </td>
                <td class="text-center w-25 pdb-15 " >
                    :
                </td>
                <td class="text-left w-50 pdb-15 pdl-50">
                    0123789789
                </td>
            </tr>
            <tr class="w-100 ">
                <td class="w-25 pdb-15">
                    Name on card
                </td>
                <td class="text-center w-25 pdb-15  "  >
                    :
                </td>
                <td class="text-left w-50 pdb-15 pdl-50">
                    JEAN HOMESOND
                </td>
            </tr>
            <tr class="w-100">
                <td class="w-25">
                    Expiry
                </td>
                <td class="text-center w-25 " >
                    :
                </td>
                <td class="text-left w-50 pdl-50">
                    Expiry
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix pdb-20">
        <div class="float-left">
            <input type="radio" name="item1" class="__checked" ><span class="__item1"></span><label>  <img src="assets/images/paypal.jpg" alt=""></label>
        </div>
        <div class="float-right">
            <img src="assets/images/billing1.jpg" alt="">
        </div>
    </div>
    <div class="text-center pdt-40 pdb-60">
        <a href="#!checkout-2"><div class="button-default bgc-gray-4 color-light hover-bgc-main1 upper-case btn-sumit">
            submit
        </div></a>
    </div>

</div>