<div class=" bgc-light-e  ">
    <div class="container ro-main-section-about-2  pdt-xs-190" >
        <div class="row">
            <div class="col-xs-12">
                <div class="ro-content  bgc-light">
                    <div class="ro-image">
                            <img src="{{listData[0].img}}" alt="" class="img-responsive">
                    </div>
                    <div class="__title">
                        <div class="aqua-heading">
                            <div class="__aqua-heading-title">
                                {{listData[0].title}}
                            </div>
                        </div>
                    </div>
                     <div class="__text pdb-xs-50" ng-bind-html="listData[0].content" class="text-center">

                     </div>
                </div>
            </div>
    </div>
</div>