<!--<div class="bgc-e7 ">-->
    <!--<div class="container " >-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="ro-content  bgc-light text-center  pd-20 pdr-20">-->
                    <!--<div class="__title pdt-60">-->
                        <!--<div class="aqua-heading">-->
                            <!--<div class="__aqua-heading-title ">-->
                                <!--{{listData[0].title}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="__text text-center mgb-60  " ng-bind-html="listData[0].content" >-->
                    <!--</div>-->
                   <!--<div class="">-->
                       <!--<img src="assets/images/about.jpg" alt="" class="img-responsive dp-block text-center ml-auto mr-auto" >-->
                   <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


        <!--<div class="bgc-e7 ">-->
        <div class="container " >
            <div class="row">
                <div class="col-xs-12">
                    <div class="ro-content  bgc-light text-center  pd-20 pdr-20">
                        <div class="__title pdt-60 pdt-xs-30">
                            <div class="aqua-heading">
                                <div class="__aqua-heading-title ">
                                    {{listData[0].title}}
                                </div>
                            </div>
                        </div>
                        <div class="__text text-center mgb-60  " ng-bind-html="listData[0].content" >
                        </div>
                        <div class="">
                            <img src="assets/images/about.jpg" alt="" class="img-responsive dp-block text-center ml-auto mr-auto" >
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->