<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="#">
                <div class="ro-advertise-1-content mgt-xs--30" >
                    <div class="ro-advertise-1-text "style="background-image: url(.//assets/images/banner.jpg);">
                               <h1>SALE 30%</h1>
                               <p><i>for masagefoot</i></p>
                    </div>
                </div>
            </a>
        </div>
        <!--<div class="col-lg-12">-->
            <!--<hr class="custom_hr">-->
        <!--</div>-->
        <!--<div class="clear-fix"></div>-->
    </div>
</div>