<div class="call-to-action bgc-main3 mgb-40">
    <div class="ro-left text-center ">
        <div class="table-cell-wrapper">
            <div class="cell-middle">
                <div class="title upper-case">
                    IN LOVE WITH OUR THEME?
                </div>
                <a href="#"> <div class="btn-buy button-border bgc-light upper-case color-gray-4 hover-bgc-main1 hover-color-light hover-border-c-main1">
                 purchase now
                </div></a>
        </div>
    </div>
    <div class="ro-right " style="background-image:url(assets/images/demoselect-footer.png)">

    </div>
</div>