<div class="bgc-light" >
    <div class="container">
        <div class="row aqua-service-main-1">
            <div class="col-sm-3">
                <img src="assets/images/advertise3.png" class="img-responsive  aqua-hidden-xs">
            </div>
            <div class="col-sm-9">
                <div class="__content">
                    <div  class="__text">
                        <p class="color-gray-4">Like what you see?<br>
                            Start now with this demo or check out our other demos to find what you need.</p>
                    </div>
                    <a href="#">
                        <div class="btn-buy button-border bgc-light upper-case color-gray-4 hover-bgc-main1 hover-color-light hover-border-c-main1">
                            BUY now
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>