<div class="container aqua-cart-product-container mgt-50">
    <div class="row">
        <div class="col-xs-12">
            <div class="title upper-case text-left  pdb-50">
                YOUR CART:
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-product mgb-50  #style-3 scroll">
                <table>
                    <thead>
                    <tr>
                        <th class="ro-table-col-product text-center ">Products</th>
                        <th class="ro-table-col-nametext-center"></th>
                        <th class="ro-table-col-size text-center ">Size</th>
                        <th class="ro-table-col-color text-center ">Color</th>
                        <th class="ro-table-col-price text-center ">Price</th>
                        <th class="ro-table-col-qty text-center  ">Qty</th>
                        <th class="ro-table-col-total text-center ">Total</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td class="text-center capitalize" style="font-size:14px">SUBTOTAL</td>
                        <td colspan="5"></td>
                        <td class="text-center ro-price">$ 114.00</td>
                    </tr>
                    </tfoot>


                    <tbody>
                    <tr class="ro-cart-item ro-product-1">
                        <td><a href="product.html"><img src="assets/images/cart-item1.jpg" alt="Cart Item" class="img-responsive "></a></td>
                        <td class="__name upper-case"><a href="product.html">HANDCRAFTED SOAP STONE</a></td>
                        <td class="text-center">S</td>
                        <td class=" text-center">
                            <label class="ro-type-1">
                                <input type="radio" name="item-1" value="color 1" checked="checked"><span></span>
                            </label>
                            <label class="ro-type-2">
                                <input type="radio" name="item-1" value="color 2"><span></span>
                            </label>
                            <label class="ro-type-3">
                                <input type="radio" name="item-1" value="color 3"><span></span>
                            </label>
                        </td>
                        <td class="text-center">$ 25.00</td>
                        <td class="text-center">
                            <input type="number" name="quantity1" min="0" value="2" class="text-center">
                        </td>
                        <td class="text-center">$ 50.00</td>
                    </tr>
                    <!--------------------->
                    <tr class="ro-cart-item ro-product-1">
                        <td><a href="product.html"><img src="assets/images/cart-item2.jpg" alt="Cart Item" class="img-responsive"></a></td>
                        <td class="__name upper-case"><a href="product.html">HANDCRAFTED SPA SALT - PINK SOAK</a></td>
                        <td class="text-center">S</td>
                        <td class=" text-center">
                            <label class="ro-type-1">
                                <input type="radio" name="item-1" value="color 1" checked="checked"><span></span>
                            </label>
                            <label class="ro-type-2">
                                <input type="radio" name="item-1" value="color 2"><span></span>
                            </label>
                            <label class="ro-type-3">
                                <input type="radio" name="item-1" value="color 3"><span></span>
                            </label>
                        </td>
                        <td class="text-center">$ 64.00</td>
                        <td class="text-center">
                            <input type="number" name="quantity1" min="0" value="2" class="text-center">
                        </td>
                        <td class="text-center">$ 64.00</td>
                    </tr>
                    <!---------------------------->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12  text-right mgb-50">
            <a href="#"><div class="button-default bgc-gray-4  color-light hover-bgc-main1 upper-case">Check out</div></a>
        </div>
    </div>
</div>