<div class="container">
    <div class="row row-main-footer-2">
        <div class="col-lg-3 col-md-4  col-xs-12 ro-footer-item class="new-business">
        <h4 class="text-title">NEW BUSINESS</h4>
        <p>info@domain.com<br>
            hello.domain.com<br>
            123.645.87 / 028.299.024</p>
        <a href="#" ><div class="button-border border-c-gray-a color-light hover-bgc-gray-4 hover-border-c-light hover-color-light">
            WANT TO SUBCRIBLE US ?</div></a>
    </div>

    <div class="col-lg-2 col-md-4   col-xs-12 ro-footer-item footer-item-outdress">
        <h4 class="text-title">OUR ADDRESS</h4>
        <p>1234 Frankford ave<br>
            Philadelphia, PA 12457</p>
        <a href="#" ><div class="button-border border-c-gray-a color-light hover-bgc-gray-4 hover-border-c-light hover-color-light">
            CAREERS</div></a>
    </div>

    <div class="col-lg-2 col-md-4  col-xs-12 ro-footer-item ro-open-time">
        <h4 class="text-title">OPENTIME</h4>
        <p>8:00am - 11:30am<br>
            2:00am - 5:30pm<br>
            7:00pm - 10:00pm</p>
    </div>

    <div class="col-lg-1 visible-lg">
        <div class="ro-footer-separator"></div>
    </div>
    <div class="col-lg-4 col-md-12  col-xs-12  ro-footer-item">
        <h4 class="text-title">NEWSLETTER SIGNUP</h4>
        <div class="input-group input-wraper">
            <input type="gmail" class="form-control">
            <span class="input-group-addon icon-basic-mail-open-text "></span>
        </div>
        <ul class="ro-social">
            <li><a href="#"><i class="icon-facebook ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-twitter ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-gplus ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-stumbleupon ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-tumblr ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-vimeo ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-pinterest ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-dribbble ro-social-item"></i></a></li>
            <li><a href="#"><i class="icon-instagrem ro-social-item"></i></a></li>
        </ul>
    </div>
    <div class="col-xs-12 footer-item ">
        <div class="custom_hr"></div>
    </div>
    <div class="col-xs-12 text-center text footer-item-end">
        © 2015 AQUA SPA AND BEAUTY. DESIGNED BY THEMEROYAL
    </div>
</div>
</div>