

<div class="container">
    <div class="row aqua-reservation-container  aqua-reservation-style-1 mgb-xs-60">
        <!----heading-->
        <div class="col-md-12">
            <div class="aqua-heading">
                <div class="__aqua-heading-title pd-bottom-4">
                    RESERVATION
                </div>
            </div>
        </div>

        <!----quote---->
        <div class="col-md-6 col-md-offset-3 col-xs-12 pd-bottom-10">
            <p class="text-center __ro-text italic">Please book in advance to get the best service from us. We wishing you a great day.
                Thanks!</p>
        </div>
        <!---fomrm---->
        <div class="col-md-10 col-xs-12 col-md-offset-1 pd-bottom-6">
            <!------------------------------------->
            <form>
                <div class="col-md-6 _ro-reservation">
                    <div class="text-center">
                        <input  type="text" name="name" class="__reservation-input" placeholder="Name">
                    </div>
                </div>
                <!------------------------------------->
                  <div class="col-md-2">
                                <select class="__reservation-input __list">
                                    <option value="">Morning</option>
                                    <option value="">Afternoon</option>
                                    <option value="">Evening</option>
                                </select>
                            </div>
                    <div class="col-md-3">
                            <input  type="date" name="date" class="__reservation-input" placeholder="Date">
                        <!--<input type="text" name="date" placeholder="Date" required="required" class="__reservation-input hasDatepicker" >-->
                    </div>
                <!------------------------------------->
                <!------------------------------------->
                <div class="col-md-6">
                    <div class="text-center">
                        <input  type="email" name="email" class="__reservation-input" placeholder="Email">
                    </div>
                </div>
                <!------------------------------------->
                  <div class="col-md-3">
                        <select class="__reservation-input __list">
                                <option value="">Sapa</option>
                                <option value="">Message</option>
                                <option value="">Yoga</option>
                      </select>
                  </div>
                   <div class="col-md-2">
                        <div class="btn-book button-default bgc-gray-4 upper-case color-light hover-bgc-main1 hover-color-light">
                                Book
                        </div>
                  </div>
                <!------------------------------------->
            </form>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="__open-time text-center">
                Opentime:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00am -11:30am&nbsp;&nbsp;/&nbsp;&nbsp;2:00pm-5:30pm&nbsp;&nbsp;/&nbsp;&nbsp;7:00pm-10:00pm
            </div>
        </div>

    </div>
</div>