<div class="aqua-head-container">

    <div style="background-image: url(assets/images/slider-bg-3.jpg)" class="__head-style1">
        <nav>
            <div ng-include="'templates/components/navbar6.html'"></div>
        </nav>
        <div class="content text-center">
            <div class="table-cell-wrapper">
                <div class="cell-middle" >
                    <div class="galleryprety" >
                        <a href="https://www.youtube.com/watch?v=Avg1DlL42sw"  title="Aqua PhotoPretty"  aqua-pretty>
                            <img src="assets/images/play-button.png" alt="" >
                        </a>
                        <p class="capitalize __text">Yoga For OlderFantastic Treatments</p>
                    </div>
                    <div class="__button-follow">
                        <a href="#about" aqua-scroll></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
