<div class=" bgc-main3 pdt-30   mgb-40 ">
    <div class="container aqua-header-container overlay-wraper  ">
        <div class="ro-overlay">
            <div class="table-cell-wrapper">
                <div class="cell-middle">
                    <div class=" text-center">
                        <img src="assets/images/aqua-brand2.svg" alt="Aqua spa"  class="img-icon mgb-30">
                        <div class="title upper-case color-light">
                            SPA AND BEAUTY HTML THEME
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-md-6 visible-md visible-lg  ">
               <div class="">
                   <img src="assets/images/slider1.png" alt="img" class="img-responsive mgb-30" >
               </div>

           </div>
       </div>
    </div>

    <div class=""></div>
</div>