<div class="aqua-head-container bgc-e7">
    <div class="__head-style2 clearfix">
        <div class="content">
            <div aqua-template data-json="slider1" data-template="slide_head" data-callback="Aqua.logger('slide_head')" >
            </div>
            <nav class="">
                <div ng-include="'templates/components/navbar5.html'"></div>
            </nav>
        </div>
        <div class="__about" >
            <div aqua-template data-json="about" data-template="about_udt1" data-callback="Aqua.logger('slide_head')" ></div>
        </div>
    </div>
</div>