<!--<div class="col-md-5 col-xs-12">-->
    <div class="aqua-infor-1">
        <!---------------------->
        <div class=" clearfix ro-infor">
            <div class="float-left">
                <div class="title mgb-40 upper-case">
                    INFORMATION
                </div>
                <div class="__infor">
                    <p class="">JEAN HOMESOND<br>Ostheme2014@gmail.com</p>
                    <p>123 frank, philadelphia<br>
                        united stage<br>
                        012 345 6789</p>
                </div>
            </div>
            <div class="edit float-right">
                <a href="#" class="color-main1 hover-color-gray-a"><span class="color-main1 hover-color-gray-a">Edit</span> </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---------------------------------------->
        <div class="title mgb-40 upper-case">
            SHIPPING
        </div>
        <div class=" clearfix ro-ship  pd-20">
            <div class="float-left" style="width: 75%;">
                <div class=" ">
                    International Shipping Light Weight Rate
                </div>
            </div>
            <div class="edit float-right text-right"  style="width:25%;">
                $ 12
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="seperator">

        </div>
    </div>
<!--</div>-->