<div class="aqua-infor-1 aqua-infor-2">
    <div class="title">
        CUSTOMER INFORMATION
    </div>
    <div class="pdt-20">
        <p >Have an account? <a href="#" class="mgl-20 __login color-main1 hover-color-gray-a" style="color: #84C348;">Log in <span></span></a> </p>
        <p>Enter your name and email address</p>
        <div class="row pdb-20">
            <div class="col-md-6 col-xs-12 ">
                <input type="text" placeholder="Name" class="w-100 pd-5">
            </div>
            <div class="col-md-6 col-xs-12 w-100">
                <input type="Email" placeholder="Email" class="w-100 pd-5">
            </div>
        </div>
        <div class="pdb-40">
            <p>Do you have an account?</p>
            <div class="__option-count pdl-20">
               <lable>
                <input type="radio" name="item1" value="" checked="true"> <span></span>  No   (You can choose to creat an account later)
                </lable><br>
                <lable >
                    <input type="radio" name="item1" value=""> <span></span> Yes
                </lable>
            </div>
        </div>
        <div class="seperator "></div>
        <div class="title upper-case pdt-50 pdb-40">
            SHIPPING ADDRESS
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 ">
                Address :
            </div>
            <div class="col-md-9 col-xs-12 ">
                <input type="text" class="pd-5  mgb-10">
            </div>
            <div class="col-md-3 col-xs-12">
                City  :
            </div>
            <div class="col-md-9 col-xs-12 ">
                <input type="text" class="pd-5  mgb-10">
            </div>
            <div class="col-md-3 col-xs-12  ">
                Country :
            </div>
            <div class="col-md-9 col-xs-12 ">
                <input type="text" class="pd-5 mgb-10">
            </div>
            <div class="col-md-3 col-xs-12  pdt-5 pdb-5">
                Postal code :
            </div>
            <div class="col-md-9 col-xs-12 ">
                <input type="text" class="pd-5 mgb-10">
            </div>
            <div class="col-md-3 col-xs-12">
                Phone  :
            </div>
            <div class="col-md-9 col-xs-12 text-center">
                <input type="text" class="pd-5 mgb-10 ">
                <a href="#!checkout-2"><div class="button-default bgc-gray-4 color-light hover-bgc-main1 upper-case btn-continue mgt-30">
                    continue
                </div></a>
            </div>
        </div>
    </div>
</div>