
    <ul class="list-underline  ">
        <li >
            <div class="name italic " >Full Body Massage (55 mins)</div>
            <div class="price italic">$78</div>
        </li>
        <li >
            <div class="name italic " >Full Body Massage (55 mins)</div>
            <div class="price italic">$78</div>
        </li>
        <li>
            <div class="name italic " >Add on: Deep Tissue Massage (per area)</div>
            <div class="price italic">$78</div>
        </li>
        <li >
            <div class="name italic " >Hot Stone Massage (55 mins)</div>
            <div class="price italic">$78</div>
        </li>
        <li >
            <div class="name italic " >Maternity Massage (55 mins)</div>
            <div class="price italic">$78</div>
        </li>
        <li >
            <div class="name italic " >Regular Seated Massage (10 mins)</div>
            <div class="price italic">$78</div>
        </li>
        <li>
            <div class="name italic " >Body Polish (1 hr)</div>
            <div class="price italic">$78</div>
        </li>
        <li>
            <div class="name italic " >Sea Mud Wrap (1 hr)</div>
            <div class="price italic">$78</div>
        </li>
    </ul>