<div class="container-fluid list-service-container-2 ">
    <div class="row">
        <div class="col-md-6 col-xs-12 ">
            <div class="__image" style="background-image: url({{listData[1].img}})">
                <!--<img src="{{listData[1].img}}" alt="">-->
            </div>
        </div>
        <div class="col-md-6  ">
            <div class="__content">
                  <div class="__title upper-case pd-bottom-5 margin-top-8">
                      {{listData[1].title}}
                  </div>
                  <div class="__list-infor scroll">
                        <ul>
                            <li ng-repeat="x in listData[0].content">
                                {{x}}
                            </li>
                        </ul>
                    </div>
                <div class="text-center ">
                    <a href="#"><div class="button-default bgc-gray-4 color-light hover-bgc-main1 upper-case  __see-more">
                        see more
                    </div></a>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>