<div class="aqua-navbar-container " ng-controller="navbarController">
    <div class="container aqua-navbar-style2" >
        <div class=" navbar-style2 navbar-style2b">
            <!---------------------------------->

            <div class="toggle-menu {{toogle}}" ng-click="toggleMobileMenu()">
                <span></span>
            </div>
            <!------------------------------>
            <div class=" __navbar-logo" >
                <img src="assets/images/aqua-logo.svg" alt="" >
                <img src="assets/images/aqua-brand.svg" alt="">
            </div>

            <div class="__navabar-main {{fade}}" >
                <ul>
                    <li class="visible-xs"><a href="index.html"><img src="assets/images/aqua-brand3.svg" alt="Aqua spa"></a></li>
                    <li  class=" menu-wraper">
                        <a href="#" class="upper-case">Home</a>
                        <ul class="menu-child">
                            <li  class=""><a href="#!basic">Basic</a></li>
                            <li class=""><a href="#!fullwidth">Full with</a></li>
                            <li class=""><a href="#!full_height">Full height</a></li>
                            <li  class=""><a href="#!onepage">One pages</a></li>
                            <li class=""><a href="#!shop_homepage">Shopping</a></li>
                            <li class=""><a href="#!update-01">Homepage Update 01</a></li>
                            <li class=""><a href="#!update_2">Homepage Update 02</a></li>
                        </ul>
                    </li>

                    <li  class="menu-wraper">
                        <a href="#" class="upper-case">pages</a>
                        <ul class="menu-child">
                            <li  class=""><a href="#!about_us">About us</a></li>
                            <li class=""><a href="#!404">404 Error</a></li>
                            <li class=""><a href="#!underconstruction">Under Construction</a></li>
                        </ul>
                    </li>

                    <li class="upper-case"><a href="#!service">service</a></li>

                    <li class="menu-wraper">
                        <a href="#!shop" class="upper-case">shop</a>
                        <ul class="menu-child">
                            <li  class=""><a href="#!product">Product Page</a></li>
                            <li class=""><a href="#!cart">Cart</a></li>
                            <li class=""><a href="#!checkout-1">Check Out</a></li>
                        </ul>
                    </li>

                    <li class="menu-wraper">
                        <a href="#" class="upper-case">blog</a>
                        <ul class="menu-child">
                            <li  class=""><a href="#!blog-homepage">Blog Homepage</a></li>
                            <li class=""><a href="#!blog-article1">Blog Article Basic</a></li>
                            <li class=""><a href="#!blog-article2">Blog Article Sidebar</a></li>
                        </ul>
                    </li>

                    <li class="upper-case"><a href="#!reservation">RESERVATION</a></li>
                    <li class="upper-case"><a href="#!contact">CONTACT</a></li>
                </ul>
            </div>
            <!------------------------------------>
            <div class="visible-xs pdr-10 pdl-10">
                <div class="__custom-visible-xs"></div>
            </div>
        </div>
    </div>
</div>