<div class="aqua-navbar-container " ng-controller="navbarController">
    <div class="container aqua-navbar-style2">
        <div class=" navbar-style2 navbar-style3 navbar-style4 clearfix">
            <!---------------------------------->
            <div class="toggle-menu {{toogle}}" ng-click="toggleMobileMenu()">
                <span></span>
            </div>
            <!------------------------------>
            <div class=" __navbar-logo"  >
                <!--<img src="assets/images/aqua-logo.svg" alt="" >-->
                <!--<img src="assets/images/aqua-brand.svg" alt="">-->
                <img src="assets/images/aqua-brand4.svg" alt="">

            </div>

            <div class="__navabar-main {{fade}}" >
                <ul>
                    <li class="visible-xs"><a href="index.html"><img src="assets/images/aqua-brand3.svg" alt="Aqua spa"></a></li>
                    <li  class=" menu-wraper">
                        <a href="#" class="upper-case">Home</a>
                        <ul class="menu-child">
                            <li  class=""><a href="#!basic">Basic</a></li>
                            <li class=""><a href="#!fullwidth">Full with</a></li>
                            <li class=""><a href="#!full_height">Full height</a></li>
                            <li  class=""><a href="#!onepage">One pages</a></li>
                            <li class=""><a href="#!shop_homepage">Shopping</a></li>
                            <li class=""><a href="#!update-01">Homepage Update 01</a></li>
                            <li class=""><a href="#!update_2">Homepage Update 02</a></li>
                        </ul>
                    </li>

                    <li  class="menu-wraper">
                        <a href="#about" class="upper-case" aqua-scroll>	ABOUT</a>
                    </li>

                    <li class="menu-wraper">
                        <a href="#space" class="upper-case" aqua-scroll>SPACE</a>
                    </li>

                    <li class="upper-case"><a href="#testimonial" aqua-scroll>TESTIMONIAL</a></li>
                    <li class="upper-case"><a href="#team" aqua-scroll>TEAM</a></li>
                    <li class="upper-case"><a href="#shop" aqua-scroll>SHOP</a></li>
                    <li class="upper-case"><a href="#price" aqua-scroll>PRICE</a></li>
                    <li class="upper-case"><a href="#blog" aqua-scroll>BLOG</a></li>
                    <li class="upper-case"><a href="#book" aqua-scroll>book</a></li>
                </ul>
            </div>
            <!------------------------------------>
            <div class="visible-xs __custom-visible-xs">
                <div class="table-cell-wrapper">
                    <div class="cell-middle text-center">
                        <img src="assets/images/aqua-brand2.svg" alt="">
                        <div class="__title mgt-10">
                            SPA AND BEAUTY HTML THEME
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>