
<div class="container aqua-navbar-container pdl-sm-30 pdr-sm-30">
    <div class="row header-1 pdt-50">
        <div class="col-xs-12 logo">
            <div class="table-cell-wrapper text-center">
                <div class="cell-middle">
                    <div class="__image">
                        <img src="assets/images/aqua-brand4.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="text-right __cart">
                <a href="#"><i class="icon-ecommerce-cart-content"></i></a>
            </div>
        </div>
    </div>
    <div class="aqua-separator"  style="border-top:1px solid #aaa;"></div>
    <div class="row navbar-style1">
        <div class="col-md-4 hidden-sm hidden-xs pdt-10 ">
            <div class="   ro-left">Hotline:<span class="color-main1"> 0123 456 789</span></div>
        </div>
        <div class="col-md-4 col-xs-12 ">
            <ul class="upper-case ro-center text-center title ">
                <li class="__item "><a href="">SPA</a></li>
                <li class="__item "><a href=""> BEAUTY</a></li>
                <li class="__item   "><a href=""> YOGA</a></li>
                <li class="__item   " ><a href="">SELLOFF</a></li>
            </ul>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs text-right pdt-10">
            <div class="btn-group btn-group-custom mgt--8">
                <button type="button" class="btn btn-default dropdown-toggle btn-default-custom" data-toggle="dropdown">
                    Setting <i class="icon-expand22"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Setting 1</a></li>
                    <li><a href="#">Setting 2</a></li>
                    <li><a href="#">Setting 3</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-custom mgt--5">
                <button type="button" class="btn btn-default dropdown-toggle btn-default-custom" data-toggle="dropdown">
                    English <i class="icon-expand22"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">France</a></li>
                    <li><a href="#">Spain</a></li>
                    <li><a href="#">Ducth</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-custom mgt--5">
                <button type="button" class="btn btn-default dropdown-toggle btn-default-custom" data-toggle="dropdown">
                    USD <i class="icon-expand22"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">EUR</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="aqua-separator"  style="border-top:1px solid #aaa"></div>
</div>