
<!--<div class="col-md-5 col-xs-12 pdr-30 pdl-30">-->
    <div class="pdr-30 pdl-30">
        <div class="aqua-process ">
            <hr>
            <div class="__option">
                <a href="#!checkout-2"><input type="radio" name="item1"><span class="__item1"></span><label>Address</label></a>
                <a href="#!checkout-2"><input type="radio" name="item1"><span class="__item2"></span><label>Payment</label></a>
               <input type="radio" name="item1"><span class="__item3"></span><label>Complet</label>
            </div>
        </div>
    </div>
<!--</div>-->