<div class="aqua-product-2 mgb-40">
    <div class="container">
        <div class="row" ng-init="img = 'assets/images/product-img-large3.jpg'">
            <div class="col-xs-12 title upper-case mgb-35">
                PRODUCT:
            </div>
            <div class="col-md-5 col-sm-9 col-xs-12 mgb-30" >
                <div class="__image">
                    <img src="{{img}}" alt="" class="img-responsive">
                </div>
                <div class="row">
                    <div class="col-md-12">
                       <div class="row" style="max-width: 500px;overflow: hidden;">
                           <div class="col-xs-6 pdr-0 ">
                               <a href="#"> <div class="bgc-light color-gray-4 hover-bgc-main1 hover-color-light  btn-share">
                                   Share
                               </div></a> </div>
                           <div class="col-xs-6 pdl-0"><a href="#"> <div class=" bgc-gray-4 color-light hover-bgc-main1  upper-case btn-cart">
                               add to cart
                           </div></a> </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3 col-xs-12 pdl-0 pdr-0 ">
                <div class="option-img pdl-0 pr-0 ">
                    <img src="assets/images/product-img-small.jpg" alt="" class="img-responsive mgb-15" ng-click="img='assets/images/product-img-large.jpg'">
                    <img src="assets/images/product-img-small2.jpg" alt="" class="img-responsive mgb-15" ng-click="img='assets/images/product-img-large2.jpg'">

                    <img src="assets/images/product-img-small3.jpg" alt="" class="img-responsive mgb-15" ng-click="img='assets/images/product-img-large3.jpg'">
                </div>
            </div>
            <!---------------------------->
            <div class="col-md-6 col-xs-12">
                <div class="title">HANDCRAFTED SOAP STONE</div>
                <div class="price color-main1">$ 25.00</div>
                <div class="clearfix">
                    <div class="__option-color float-left">
                        <span class="mgr-20">Colour:</span>
                        <label class="__type1"> <input type="radio" name="item1" checked><span></span></label>
                        <label class="__type2"> <input type="radio" name="item1"><span></span></label>
                        <label class="__type3"><input type="radio" name="item1"><span></span></label>
                    </div>
                    <div class=" __rating">
                        <span class="mgr-25">Rating:</span>
                        <span class="__ro-rated">&#9733;</span>
                        <span class="__ro-rated">&#9733;</span>
                        <span class="__ro-rated">&#9733;</span>
                        <span class="__ro-rating">&#9733;</span>
                        <span class="__ro-rating">&#9733;</span>
                    </div>
                </div>
                <div class="clearfix mgb-5">
                    <div class=" __option-size float-left w-50">
                        <span class="mgr-30">Size:</span>
                        <label class="__type1"> <input type="radio" name="item2" checked><span></span></label>
                        <label class="__type2"> <input type="radio" name="item2"><span></span></label>
                        <label class="__type3"><input type="radio" name="item2"><span></span></label>
                    </div>
                    <div class="__quanlity w-50">
                        <span class="mgr-15">Quantity:</span><lable class="text-right-xs"><input type="number" class="" value="2"></lable>
                    </div>
                </div>
                <div class="text">
                    <p >Online shopping is not currently offered in your market. Please visit your local H&M store for availability.<br>
                        Please note that some products, colors and sizes shown Online may not be available in your country or store. Prices can differ between online and the stores</p>
                    <hr>
                    <h4 class="title">DESCRIPTION</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                    </p>
                </div>
            </div>
            <!------------------------->
            <div class="col-xs-12 separater mgt-30 mgb-25">
                <hr class="color-main1">
            </div>
            <div class="col-xs-12 title upper-case mgb-35">
                ALSO MAY YOU LIKE
            </div>
        </div>
        <div class="row __gallery">
            <div class="col-md-2 col-sm-4 col-xs-6  ">
                <a href=""><img src="assets/images/product1.jpg" alt="" class="img-responsive mgb-30 img-left"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <a href=""><img src="assets/images/product2.jpg" alt="" class="img-responsive mgb-30 img-right "></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <a href=""><img src="assets/images/product3.jpg" alt="" class="img-responsive mgb-30 img-left "></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <a href=""><img src="assets/images/product4.jpg" alt="" class="img-responsive mgb-30 img-right"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <a href=""><img src="assets/images/product5.jpg" alt="" class="img-responsive mgb-30 img-left"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <a href=""><img src="assets/images/product6.jpg" alt="" class="img-responsive mgb-30 img-right"></a>
            </div>
        </div>
    </div>

</div>