<!--update-1-->
<div class="container">
    <div class="row">
        <div class="col-lg-4" ng-repeat="x in listData">
            <a href="#">
                <div class="service-item-style-2 text-center  ">
                    <div class="__image margin-bottom-2">
                        <img src="{{x.img[1]}}" atl="service 1" class="img-responsive">
                    </div>
                    <div class="__title upper-case pd-15 hover-color-main1">
                        <h4>{{x.title}}</h4>
                    </div>
                    <div class="__content">
                        <div class="text">
                            {{x.text}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>