
<div class="container">
    <div class="row">
            <div class="col-lg-7 col-xs-12">
                    <div class="ro-service-1 ">
                           <div class="__service-1-left">
                               <img src="assets/images/service1.jpg" class="img-responsive">
                           </div>
                            <div class="__service-1-right">
                                <div class="__title">
                                        <div class="aqua-heading">
                                            <div class="__aqua-heading-title">
                                                 SPA
                                            </div>
                                        </div>
                                </div>
                                <div class="__content " >
                                    <div class="__text text-center"> Aqua is your go-to massage headquarters. With endless modalities and customizations,
                                        we have thousands of spa and wellness locations for your next massage.
                                    </div>
                                    <a href="#"><div class="__more">

                                    </div></a>
                                </div>
                            </div>
                    </div>
                   <div class="ro-service-2">
                       <div class="__service-2-left">
                           <div class="__title">
                               <div class="aqua-heading">
                                   <div class="__aqua-heading-title">
                                       YOGA
                                   </div>
                               </div>
                           </div>
                           <div class="__content " >
                               <div class="__text text-center"> Through various yoga modalities ranging from bikram yoga
                                   (also known as hot yoga), to power yoga, ashtanga yoga, and prenatal yoga, yoga has many
                                   healthy benefits for the mind, body, and spirit. Originating in ancient India, the word yoga means
                                   to unite or to join, and in yoga, we unite our minds and our bodies through breath.
                               </div>
                               <a href="#"><div class="__more">
                               </div></a>
                           </div>
                       </div>
                       <!---rol-service--2-->
                       <div class="__service-2-right">
                           <img src="assets/images/service2.jpg"  class="img-responsive">

                       </div>
                   </div>
            </div>
            <div class="col-lg-5 col-xs-12">
                   <div class="ro-service-3 text-center">
                       <div class="__service-3-left" >
                           <img src="assets/images/service3.jpg"  class="img-responsive">
                       </div>
                       <div class="__service-3-right">
                           <div class="__title">
                               <div class="aqua-heading">
                                   <div class="__aqua-heading-title">
                                       BEAUTY
                                   </div>
                               </div>
                           </div>
                           <div class="__content" >
                               <div class="__text text-center">Known for its ability to remove toxins from the body and increase energy,
                                   oil pulling also has tremendous beauty benefits! Routinely pulling oil can help to clear skin and more notably,
                                   remove bacteria from the mouth and even whiten teeth
                               </div>
                               <a href="#"><div class="__more">

                               </div></a>
                           </div>
                       </div>
                  </div>
             </div>
    </div>
</div>