<div class="container">
    <div class="row ">
        <div class="col-xs-12 aqua-sevice7 aqua-sevice8">
            <div class="row ">
                <div class="col-md-8  col-xs-12 __content">
                    <div class="title">
                        <div class="aqua-heading">
                            <div class="__aqua-heading-title">
                                Facial Treatments
                            </div>
                        </div>

                    </div>
                    <div class="list-product">
                        <ul class="list-underline">
                            <li ng-repeat="x in listData[0].listitem">
                                <div class="name " >{{x.name}}</div>
                                <div class="price ">{{x.price}}</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="__image  clearfix " style="background-image: url(assets/images/service-fullwidth2.jpg);">
            </div>
        </div>
    </div>
</div>