<div class="bgc-light-e pdt-80 pdb-50">
        <div class="container aqua-service-10">
            <div class="row">
                <div class="col-md-6 col-xs-12 ">
                    <div class="__image text-center mgb-30 ">
                        <img src="assets/images/specialize3.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" >
                        <div id="accordion" aqua-accordion>
                            <h3 class="title upper-case">spa price list</h3>
                            <div class="item scroll">
                                <p ng-include="'templates/components/listitem.html'"></p>
                            </div>
                            <h3 class="title upper-case ">beaty price list </h3>
                            <div class="item scroll">
                                <p ng-include="'templates/components/listitem.html'"></p>
                            </div>
                            <h3 class="title upper-case">your price list</h3>
                            <div class="item item2 scroll">
                                <p ng-include="'templates/components/listitem.html'"></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>