<!--<div class="bgc-main2 aqua-slider-style5" >-->
    <!--<div class="container item1 " style="background-image: url(assets/images/slider21.png);">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4   pt-167 __item1" >-->
                <!--<span class="upper-case color-light separator">Acne skin</span>-->
            <!--</div>-->

            <!--<div class="col-sm-4 col-sm-offset-3   pt-135 __item2">-->
              <!--<div class="text-right">-->
                  <!--<span class="upper-case color-light separator __anti" >anti-agening</span>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="clearfix"></div>-->

            <!--<div class="col-sm-4 col-sm-offset-1 pt-160 __item3" >-->
                <!--<span class="upper-case chapped color-light separator">lip dark + chapped</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 col-sm-offset-3 pt-105 __item4">-->
              <!--<div class="text-right">-->
                  <!--<span class="upper-case chapped color-light separator __skin">oil skin</span>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="clearfix"></div>-->
            <!--<div class="col-sm-4 col-sm-offset-8 pdt-70 __item5">-->
                <!--<div class="text-right">-->
                    <!--<span class="upper-case chapped color-light separator __skin"> skin rejuvenation</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
            <!--<div class="col-sm-6 col-sm-offset-3 pdt-40">-->
                <!--<div class="upper-case text-center italic">-->
                    <!--<h1>are your skin experiencing problem?</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="bgc-main3 aqua-slider-style5">-->
    <!--<div class="container item2 " style="background-image: url(assets/images/slider22.png);">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6 col-sm-offset-6 pdt-50">-->
                <!--<h1 class="upper-case italic color-light">Don't worry <br> let us solving your problem</h1>-->
                <!--<ul class="">-->
                    <!--<li>Created from natural herbs – Ginseng roots extract</li>-->
                    <!--<li>Created from natural herbs – Ginseng roots extract</li>-->
                    <!--<li>Created from natural herbs – Ginseng roots extract</li>-->
                    <!--<li>Created from natural herbs – Ginseng roots extract</li>-->
                    <!--<li>Created from natural herbs – Ginseng roots extract</li>-->
                <!--</ul>-->
                <!--<div class="text-right">-->
                    <!--<a href="#">-->
                        <!--<div class="upper-case italic button-border bgc-light hover-color-light hover-border-c-main1 hover-bgc-main1 btn-follow ">-->
                            <!--See More-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="aqua-slider-style4">-->
<!--<div class="container-fluid " style="background-color: #E7E6E1;">-->
<!--<div class="row item1 clearfix"  style="background-image: url(assets/images/slider1.png);">-->
<!--<div class="col-sm-6 col-sm-offset-5">-->
<!--<div class="table-cell-wrapper">-->
<!--<div class="cell-middle">-->
<!--<img src="" alt="">-->
<!--<p>a good reminder. <span class="upper-case __aqua-note mgl-50">Aqua </span> <span class=" color-main1 ">spa</span><br>-->
<!--we live in a culture that values stress,like it makes us better or something.-->
<!--</p>-->
<!--<a href="#"><div class="button-border color-gray-4 upper-case border-color-gray-4 hover-bgc-main1 hover-border-c-main1 hover-color-light">-->
<!--See more-->
<!--</div></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="aqua-slider-style4">-->
<!--<div class="container-fluid bgc-main3">-->
<!--<div class="row item2 clearfix"  style="background-image: url(assets/images/slider5.png);">-->
<!--<div class="col-sm-6 col-sm-offset-5">-->
<!--<div class="table-cell-wrapper">-->
<!--<div class="cell-middle">-->
<!--<span class="upper-case __aqua-note">Aqua </span> <span class=" color-light ">spa</span>-->
<!--<p>One rarely falls in love without being as much attracted to<br>-->
<!--what is interestingly wrong with someone as what is objectively healthy.-->
<!--</p>-->
<!--<a href="#"><div class="button-border color-gray-4 upper-case border-color-gray-4 hover-bgc-main1 hover-border-c-main1 hover-color-light">-->
<!--See more-->
<!--</div></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="aqua-slider-style4" >-->
<!--<div class="container-fluid bgc-main3" style="background-color: #E7E6E1;">-->
<!--<div class="row item3 clearfix"  style="background-image: url(assets/images/slider4.png);">-->
<!--<div class="col-sm-6 col-sm-offset-1">-->
<!--<div class="table-cell-wrapper">-->
<!--<div class="cell-middle text-right">-->
<!--<span class="upper-case __aqua-note">Aqua </span> <span class=" color-main1 ">spa</span>-->
<!--<p>Youth is happy because it has the capacity to see beauty.<br>-->
<!--Anyone who keeps the ability to see beauty never grows old.-->
<!--</p>-->
<!--<a href="#"><div class="button-border color-gray-4 upper-case border-color-gray-4 hover-bgc-main1 hover-border-c-main1 hover-color-light">-->
<!--See more-->
<!--</div></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="aqua-slider-style4" >-->
<!--<div class="container-fluid bgc-main3" >-->
<!--<div class="row item4 clearfix"  style="background-image: url(assets/images/slider3.png);">-->
<!--<div class="col-sm-6 col-sm-offset-5">-->
<!--<div class="table-cell-wrapper">-->
<!--<div class="cell-top text-left">-->
<!--<p>a good reminder. <span class="upper-case __aqua-note mgl-50">Aqua </span> <span class=" color-main1 ">spa</span><br>-->
<!--we live in a culture that values stress,like it makes us better or something.-->
<!--</p>-->
<!--<a href="#" class="text-center"><div class="button-border color-gray-4 upper-case border-color-gray-4 hover-bgc-main1 hover-border-c-main1 hover-color-light">-->
<!--See more-->
<!--</div></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="aqua-slider-style4">
    <div class="silder">
        <section>
            <div  ng-repeat="x in listData" aqua-slider='{"dots":false,"speed":500,"fade":true}'>
                <!--------------------->

                    <div class=" aqua-slider-style5 bgc-pink" ng-if="$index==0">
                    <div class="container item1 " style="background-image: url(assets/images/slider-fullheight.jpg);">
                        <!--<div class="row">-->
                            <!--<div class="col-sm-4   pt-167 __item1" >-->
                             <!--<span class="upper-case color-light separator">Acne skin</span>-->
                            <!--</div>-->

                            <!--<div class="col-sm-4 col-sm-offset-3   pt-135 __item2">-->
                                <!--<div class="text-right">-->
                                    <!--<span class="upper-case color-light separator __anti" >anti-agening</span>-->
                                <!--</div>-->
                            <!--</div>-->

                             <!--<div class="clearfix"></div>-->

                                <!--<div class="col-sm-4 col-sm-offset-1 pt-160 __item3" >-->
                                    <!--<span class="upper-case chapped color-light separator">lip dark + chapped</span>-->
                                <!--</div>-->
                            <!--<div class="col-sm-4 col-sm-offset-3 pt-105 __item4">-->
                                <!--<div class="text-right">-->
                                <!--<span class="upper-case chapped color-light separator __skin">oil skin</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="clearfix"></div>-->
                            <!--<div class="col-sm-4 col-sm-offset-8 pdt-70 __item5">-->
                                <!--<div class="text-right">-->
                                    <!--<span class="upper-case chapped color-light separator __skin"> skin rejuvenation</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                            <!--<div class="col-sm-6 col-sm-offset-3 ">-->
                                <!--<div class="upper-case text-center italic">-->
                                <!--<h1>are your skin experiencing problem?</h1>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <!--------------------------->
                <div  ng-if="$index==1">
                    <div class="bgc-main3 aqua-slider-style5">
                        <div class="container item2 " style="background-image: url(assets/images/slider22.png);">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6 pdt-50">
                                    <h1 class="upper-case italic color-light">Don't worry <br> let us solving your problem</h1>
                                    <ul class="">
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                    </ul>
                                    <div class="text-right">
                                        <a href="#">
                                            <div class="upper-case italic button-border bgc-light hover-color-light hover-border-c-main1 hover-bgc-main1 btn-follow ">
                                                See More
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------------->
                <div ng-if="$index==2">
                    <div class="bgc-pink aqua-slider-style5">
                        <div class="container item2 " style="background-image: url(assets/images/slider22.png);">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6 pdt-50">
                                    <h1 class="upper-case italic color-light">Don't worry <br> let us solving your problem</h1>
                                    <ul class="">
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                    </ul>
                                    <div class="text-right">
                                        <a href="#">
                                            <div class="upper-case italic button-border bgc-light hover-color-light hover-border-c-main1 hover-bgc-main1 btn-follow ">
                                                See More
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


