<!--<div class="container mgb-50">-->
    <!--<div class="row">-->
        <div class="col-md-5 col-md-push-1 col-xs-12 mgt-20">
            <div class="aqua-slidebar">
                <!------------------------->
                <div class="__header title bgc-light-e pd-15 text-center">
                    ORDER SUMMARY
                </div>
                <!--------------------------->
                <div class="__body  pdl-30 pdr-30">
                    <!----item-1---->
                    <div class="__product-item-1 clearfix pdt-40 pdb-40">
                        <div class="__image float-left ">
                            <img src="assets/images/cart-item1.jpg" alt="">
                        </div>

                        <div class="float-right pdl-20  __product-right" >
                            <div class="clearfix mgt-15">
                                <div class="__name float-left"> <a href="product.html" class="hover-color-main1 upper-case">LIGHT SLEEPING INDIAN HUTS </a></div>
                                <div class="__quantity float-right">
                                    <p>x<span class="pdl-30">02</span></p>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="__item-color float-left">
                                    <label class="ro-type-1">
                                        <input type="radio" name="item2" value="color1" checked="checked"><span></span>
                                    </label>
                                    <label class="ro-type-2">
                                        <input type="radio" name="item2" value="color2"><span></span>
                                    </label>
                                    <label class="ro-type-3">
                                        <input type="radio" name="item2" value="color3"><span></span>
                                    </label>
                                </div>
                                <div class="__price  color-main1">
                                    <p>$ 25.00</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---------------------item2-------------------->
                    <div class="__product-item-1 __product-item-2 clearfix pdt-40 pdb-40">
                        <div class="__image float-left ">
                            <img src="assets/images/cart-item2.jpg" alt="">
                        </div>

                        <div class="float-right pdl-20  __product-right" >
                            <div class="clearfix mgt-15">
                                <div class="__name float-left"> <a href="product.html" class="hover-color-main1 upper-case">HANDCRAFTED SPA SALT - PINK SOAK </a></div>
                                <div class="__quantity float-right">
                                    <p>x<span class="pdl-30">01</span></p>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="__item-color float-left">
                                    <label class="ro-type-1">
                                        <input type="radio" name="item1" value="color1" checked="checked"><span></span>
                                    </label>
                                    <label class="ro-type-2">
                                        <input type="radio" name="item1" value="color2"><span></span>
                                    </label>
                                    <label class="ro-type-3">
                                        <input type="radio" name="item1" value="color3"><span></span>
                                    </label>
                                </div>
                                <div class="__price color-main1 ">
                                    <p>$ 64.00</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---------------------end-item2---------------------->
                </div>
                <div class=" bgc-light-e pdr-30 pdl-30">
                        <div class="__item">
                            <div class="__item-name">
                                Subtotal
                            </div>
                            <div class="__item-price text-right">
                                $ 114.00
                            </div>
                        </div>
                    <div class="__item">
                        <div class="__item-name">
                            Shipping
                        </div>
                        <div class="__item-price text-right">
                            $ 0.00
                        </div>
                    </div>
                    <div class="__item">
                        <div class="__item-name">
                            Total
                        </div>
                        <div class="__item-price text-right ">
                            $ 114.00
                        </div>
                    </div>
                </div>
                <!--------------------------->
                <div class="__foot pdr-30 pdl-30">
                    <div class="__item">
                        <div class="__item-name">
                            Payment Due
                        </div>
                        <div class="__item-price text-right color-main1">
                            $ 114.00
                        </div>
                    </div>
                </div>
                <!----------------------------------->
            </div>
        </div>
    <!--</div>-->
<!--</div>-->