<div class="aqua-slider-style4">
    <div class="silder">
        <section>
            <div  ng-repeat="x in listData" aqua-slider='{"dots":false,"speed":500,"fade":true}'>
                <!--------------------->

                    <div class=" aqua-slider-style5 bgc-pink" ng-if="$index==0">
                    <div class="container item1 " style="background-image: url(assets/images/slider-fullheight.jpg);">
                    </div>
                </div>
                <!--------------------------->
                <div  ng-if="$index==1">
                    <div class="bgc-main3 aqua-slider-style5">
                        <div class="container item2 " style="background-image: url(assets/images/slider22.png);">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6 pdt-50">
                                    <h1 class="upper-case italic color-light">Don't worry <br> let us solving your problem</h1>
                                    <ul class="">
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                    </ul>
                                    <div class="text-right">
                                        <a href="#">
                                            <div class="upper-case italic button-border bgc-light hover-color-light hover-border-c-main1 hover-bgc-main1 btn-follow ">
                                                See More
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------------->
                <div ng-if="$index==2">
                    <div class="bgc-pink aqua-slider-style5">
                        <div class="container item2 " style="background-image: url(assets/images/slider22.png);">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6 pdt-50">
                                    <h1 class="upper-case italic color-light">Don't worry <br> let us solving your problem</h1>
                                    <ul class="">
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                        <li>Created from natural herbs – Ginseng roots extract</li>
                                    </ul>
                                    <div class="text-right">
                                        <a href="#">
                                            <div class="upper-case italic button-border bgc-light hover-color-light hover-border-c-main1 hover-bgc-main1 btn-follow ">
                                                See More
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


