<!--<div class="overlay-wraper silder-shop">-->
    <!--<div class="aqua-slider-container mgb-30">-->
        <!--<div class="aqua-slider-style2">-->
            <!--<div class="silder">-->
                <!--<section class=" ">-->
                    <!--<div  ng-repeat="x in listData" aqua-slider='{"dots":false,"speed":500,"fade":false}'>-->
                        <!--<img  src="{{x.img}}" alt="" class="img-responsive">-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ro-overlay">-->
        <!--<span>SALE <span class="__sale">50%</span></span>-->
        <!--<div class="__below">-->
            <!--<span class="__seperator"></span>-->
            <!--<span class="upper-case __name italic" >tool of yoga</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<div class="aqua-slider-style2">
    <div class="silder">
        <section class="  "ng-repeat="x in listData" aqua-slider='{"dots":false,"speed":500,"fade":false}' ">
         <div class="overlay-wraper silder-shop">
            <div class=" mgb-30">
                        <div>
                            <img  src="{{x.img}}" alt="" class="img-responsive">
                        </div>
            </div>
             <div class="ro-overlay">
                 <span>SALE <span class="__sale">50%</span></span>
                 <div class="__below">
                     <span class="__seperator"></span>
                     <span class="upper-case __name italic" >tool of yoga</span>
                 </div>
             </div>
        </div>
    </section>
    </div>
</div>
