
<div id="tabs" aqua-tab>
    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <div class="aqua-tabshop">
                    <ul class="upper-case">
                        <li class="tabshop-item"><a href="#tabs-1"  class="hover-color-main1 ">spa</a></li>
                        <li class="tabshop-item"><a href="#tabs-2" class="hover-color-main1">BEAUTY</a></li>
                        <li class="tabshop-item"><a href="#tabs-3" class="hover-color-main1"> YOGA</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-1">
        <div aqua-template data-template="shop_tab" data-json="shop" data-callback="Aqua.logger('shop')">
        </div>
    </div>
    <div id="tabs-2">
        <div aqua-template data-template="shop_tab" data-json="shop" data-callback="Aqua.logger('shop')">
        </div>

    </div>
    <div id="tabs-3">
        <div aqua-template data-template="shop_tab" data-json="shop" data-callback="Aqua.logger('shop')">
        </div>
    </div>

</div>


