<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="aqua-testimonial-container-2">
                <section class="regularTestimonial slider">
                    <div class="aqua-testimonial-content  text-center" ng-repeat="x in listData" aqua-slider='{"dots":false,"speed":500}'>
                        <h4 class="__name upper-case">{{x.name}}</h4>
                        <p class="__comment">{{x.comment}}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>