<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>
<div class="aqua-404 mgb-40" style="background-image: url(assets/images/404.jpg);">
    <div class="container ">
        <div class="row">
            <div class="col-md-8 text-center" >
                <div class="table-cell-wrapper">
                    <div class="cell-middle">
                        <div class="heading upper-case">
                            404 OOPS!
                        </div>
                        <div class="mgt--25 mgb-30">The page you’re looking for not found</div>
                        <a href="#"> <div class="button-default bgc-main1 color-light hover-bgc-gray-4 upper-case">
                            back
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mgt-60 mgb-40">
                <hr>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/components/footer1.html'"></div>