<div ng-include="'templates/components/navbar2d.html'" class="mgb-70"></div>
<!--<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>-->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div aqua-template data-json="blog_post_article_2" data-template="blog_spot4" data-callback="Aqua.logger('blog-article4')"> </div>
        </div>
          <div class="col-md-3 hidden-xs hidden-sm">
                <div aqua-template data-json="blog_post_article_2" data-template="blog_spot_slidebar" data-callback="Aqua.logger('blog-slidebar')">
                </div>
          </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
</div>
<div ng-include="'templates/components/footer1.html'"></div>