<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>
<!--<div ng-include="'templates/components/blog_spot1.html'">-->

<!--</div>-->
<div aqua-template data-json="quote" data-template="quote" data-callback="Aqua.logger('quote')" class="mgt--20 __blog-page">
</div>
<!---------->
<!--<div aqua-heading data-json="quote"   data-class="quote" data-title="{{listData[0].content}}" style="margin-top: -20px;">-->
<!--</div>-->
<!--------------------------------------------------->
<div aqua-template data-json="post_home" data-template="blog_spot1" data-callback="Aqua.logger('post_home')" style="margin-top: -40px;">
</div>
<!-------------------------->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="upper-case fs-18  text-center __lood-more ">
                <a href="#!blog-homepage"></a> LOAD MORE ...
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
</div>
<!---------------->
<div ng-include="'templates/components/footer1.html'"></div>
