<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>

<div class="container aqua-contact-container">
    <div class="row">
        <div class="col-md-7 col-xs-12 mgb-30">
            <iframe class="ro-map-iframe" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=40.7187171,-73.9890498&amp;spn=56.506174,79.013672&amp;t=m&amp;z=16&amp;output=embed"></iframe>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="row">
                <div class="col-md-6  col-xs-12">
                    <div class="ro-infor icon-addr">
                        16 East Wood Avenue,New York, NY 778569, USA
                    </div>
                    <div class="ro-infor icon-home">
                        Web:<a href="#" class=" hover-color-gray-a"> www.domain.com</a>
                    </div>
                </div>
                <div class="col-md-6  col-xs-12">
                    <div class="ro-infor icon-phone">
                        Phone: +444 123456789
                    </div>
                    <div class="ro-infor icon-fax">
                        Fax: +444 123456789
                    </div>
                    <div class="ro-infor icon-email pdb-30">
                        Email:<a href="#" class="color-main1 hover-color-gray-a" ><span class="color-main1 hover-color-gray-a">hello@domain.com</span></a>
                    </div>
                </div>
            </div>
            <div class="form-contact">
                <div class="__title upper-case mgb-20">
                    contact form
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 mgb-20">
                        <input type="text" placeholder="Name" required>
                    </div>
                    <div class="col-md-6 col-xs-12 mgb-20" placeholder="Email">
                        <input type="email" placeholder="Name" required>
                    </div>
                    <div class="col-xs-12 mgb-20">
                        <input type="text" placeholder="Subject" required>
                    </div>
                    <div class="col-xs-12 mgb-20">
                        <textarea placeholder="Write your comment..."></textarea>
                    </div>
                    <div class="col-xs-12 text-right btn-send mgb-60">
                        <a href="#"><div class="button-default bgc-main1 color-light hover-bgc-gray-4 upper-case ">
                            send
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
</div>

<div ng-include="'templates/components/footer1.html'"></div>