<div ng-include="'templates/components/navbar3.html'"></div>
<div aqua-template data-json="slider-full-width" data-template="sliderder-full-width" data-callback="Aqua.logger('sliderder-full-width')" >
</div>

<!----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="aqua-heading mgt-xs--25">
               <div class="__aqua-heading-title">
                   WELCOME
               </div>
            </div>
            <p class="text-center">AQUA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming neighborhoods.</p>
        </div>
    </div>
</div>
<!----service------------>
<div class="mgb-30 mgb-xs--10 mgt-xs--10">
    <div aqua-template data-template="service-full-width" data-json="service45" >

    </div>
</div>
<!--------------------------------------->
<!--<div ng-include="'templates/components/list_service1.html'" ></div>-->
<!---list_--service----------------------------------------->
<div aqua-template data-json="list_service" data-template="list_service1" data-callback="Aqua.logger('list_service2')" >
</div>

<!----------space---portfolio----------------------->
<div class="aqua-heading" class="mgt-xs-10">
    <div class="__aqua-heading-title">
        AQUA SPACE
    </div>
</div>
<!----------------------------------->
<div aqua-template data-json="portfolio" data-template="portfolio" data-callback="Aqua.logger('portfolio')" class="pd-top-2">
</div>
<!---banner----------------------------------------->
<div ng-include="'templates/components/banner.html'" ></div>
<div class="bgc-gray-2b">
    <div ng-include="'templates/components/footer2.html'"></div>
</div>