<div ng-include="'templates/components/headerfullheight.html'" class="mgb-40" ></div>
<!--<div aqua-template data-template="slider__fullheight" data-json="sliderfullheight"  data-callback="Aqua.logger('slidebasic')" >-->
<!--</div>-->

<div class="aqua-heading ">
    <div class="__aqua-heading-title pd-bottom-2 upper-case">
        WELCOME
    </div>
</div>

<!-------------------------->
<div class="container">
    <div class="row">
        <div aqua-template data-template="wellcome" data-json="wellcome"  data-callback="Aqua.logger('wellcome')" >
        </div>
    </div>
</div>
<!----service---->
<!-------------------------->
<div aqua-template data-json="service45" data-template="service_4_5" data-callback="Aqua.logger('service45')" class="pd-bottom-6 pdb-xs-5">
</div>
<!----------------hr>----------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <hr>
        </div>
    </div>
</div>
<!----------------------------------------->
<div class="aqua-heading">
    <div class="__aqua-heading-title">
        AQUA SPACE
    </div>
</div>
<!----------------------------------->
<div aqua-template data-json="portfolio" data-template="portfolio" data-callback="Aqua.logger('portfolio')" class="pd-top-2">
</div>
<!---------------testimonial2------------------>
<div aqua-template data-json="testimonial" data-template="testimonial1" data-callback="Aqua.logger('testimonial1')" class="pd-top-2">
</div>
<!----------------RESERVATION------------------->
<div ng-include="'templates/components/form_sign_in.html'"></div>

<!------------------footer------------->
<div class="bgc-gray-2b">
    <div ng-include="'templates/components/footer2.html'"></div>
</div>