
<div ng-include="'templates/components/navbar4.html'"></div>

<div aqua-template data-template="sliderder-full-width" data-json="slider-full-width"  data-callback="Aqua.logger('slidebasic')" >
</div>
<!-------------------------->

<div class="aqua-heading" id="about">
    <div class="__aqua-heading-title upper-case mgt-xs-30">
        well come
    </div>
</div>
<div class="container">
    <div class="row">

        <div aqua-template data-template="wellcome" data-json="wellcome2"  data-callback="Aqua.logger('wellcome2')" >
        </div>
    </div>
</div>
<!-----------

<!-------------------------->
<div aqua-template data-json="service45" data-template="service_4_5" data-callback="Aqua.logger('service45')" class="pd-bottom-6">
</div>
<!------------------------------------->
<div ng-include="'templates/components/service11.html'" style="background-color: #ABDCE1" class="mgb-40"></div>
<!--------------------------------------->
<div class="aqua-heading" class="" id="space">
    <div class="__aqua-heading-title">
       AQUA SPACE
    </div>
</div>
<!----------------------------------->
<div aqua-template data-json="portfolio" data-template="portfolio" data-callback="Aqua.logger('portfolio')" class="pd-top-2">
</div>
<!----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <hr class="pdb-20">
        </div>
    </div>
</div>
<!--------------------------------->
<div  aqua-template data-template="testimonial2" data-json="testimonial" id="testimonial">

</div>
<!--------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 pdb-30">
            <hr>
        </div>
    </div>
</div>
<!--------------------------------->
<div aqua-template data-json="team1" data-template="team1" data-callback="Aqua.logger('team1')" id="team">

</div>
<!--------------------------------->
<div class="bgc-main2 margin-bottom-8 mgt-xs--40">
    <div aqua-template template="service_34" ></div>
</div>
<!----------------------call-to-action-pink-------------->
<div ng-include="'templates/components/callto-action1.html'" class="mgb-60 bgc-main2"></div>
<!---------------------------------------->
<div class="aqua-heading " id="shop ">
    <div class="__aqua-heading-title pd-bottom-2 upper-case">
        SHOp
    </div>
</div>
<!--------------------------------->
<div aqua-template template="product" data-json="product" data-callback="Aqua.logger('product')"></div>
<!--------------------------------->
<div class="aqua-heading " id="price">
    <div class="__aqua-heading-title pd-bottom-2 upper-case">
       MEMBERSHIP
    </div>
</div>
<div aqua-template template="list_product" data-json="pricing_table_member_ship" data-callback="Aqua.logger('pricing-table')" class="pd-bottom-8"></div>

<!---------------------------------->
<div id="blog" aqua-template data-json="post_onepage" data-template="post_onepage" data-callback="Aqua.logger('post_onepage')" class="pd-bottom-8">
</div>





<!------------------------------------------>
<div ng-include="'templates/components/form_sign_in.html'" id="book"></div>
<div class="bgc-gray-2b">
    <div ng-include="'templates/components/footer2.html'"></div>
</div>