
<!--<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>-->
<!--<div class="container aqua-reservation-container-1 mgb-80 " >-->
    <!--<div class="revervation-over-lay-wraper" style="background-image: url(assets/images/reservation.jpg); background-size: cover;">-->

    <!--</div>-->

    <!--<div class="row  aqua-reservation-style-2 " >-->
        <!--&lt;!&ndash;&#45;&#45;quote&#45;&#45;&ndash;&gt;-->
        <!--<div class="col-md-6 col-md-offset-3 col-xs-12 pd-bottom-10">-->
            <!--<p class="text-center __ro-text">Please book in advance to get the best service from us. We wishing you a great day.-->
                <!--Thanks!</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;-fomrm&#45;&#45;&ndash;&gt;-->
        <!--<div class="col-md-10 col-xs-12 col-md-offset-1 pd-bottom-6">-->
            <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<form>-->
                <!--<div class="row">-->
                        <!--<div class="col-md-6 _ro-reservation">-->
                            <!--<div class="text-center">-->
                                <!--<input  type="text" name="name" class="__reservation-input" placeholder="Name">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                        <!--<div class="col-md-2">-->
                            <!--<select class="__reservation-input __list">-->
                                <!--<option value="">Morning</option>-->
                                <!--<option value="">Afternoon</option>-->
                                <!--<option value="">Evening</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<input  type="date" name="date" class="__reservation-input" placeholder="Date">-->
                            <!--&lt;!&ndash;<input type="text" name="date" placeholder="Date" required="required" class="__reservation-input hasDatepicker" >&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                        <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="text-center">-->
                                <!--<input  type="email" name="email" class="__reservation-input" placeholder="Email">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                        <!--<div class="col-md-4">-->
                            <!--<select class="__reservation-input __list">-->
                                <!--<option value="">Sapa</option>-->
                                <!--<option value="">Message</option>-->
                                <!--<option value="">Yoga</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                           <!--<a href="#"> <div class="btn-book button-default bgc-gray-4 upper-case color-light hover-bgc-main1 hover-color-light">-->
                                <!--Book-->
                            <!--</div></a>-->
                        <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="col-md-12 col-xs-12">-->
            <!--<div class="__open-time text-center">-->
                <!--Opentime:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00am -11:30am&nbsp;&nbsp;/&nbsp;&nbsp;2:00pm-5:30pm&nbsp;&nbsp;/&nbsp;&nbsp;7:00pm-10:00pm-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 ">-->
            <!--<hr>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-include="'templates/components/footer1.html'"></div>-->



<div ng-include="'templates/components/navbar2d.html'" class="mgb-60"></div>

<div class="container  mgb-60  " >
    <div class="aqua-reservation-container-1">
        <div class=" revervation-over-lay-wraper" style="background-image: url(assets/images/reservation.jpg); background-size: cover;">
        </div>
        <div class="container pdr-xs-15 pdr-30 pdl-0">
            <div class="row  aqua-reservation-style-2 mgr-xs--15 " >
                <!----quote---->
                <div class="col-md-6 col-md-offset-3 col-xs-12 pd-bottom-10">
                    <p class="text-center __ro-text">Please book in advance to get the best service from us. We wishing you a great day.
                        Thanks!</p>
                </div>
                <!---fomrm---->
                <div class="col-md-10 col-xs-12 col-md-offset-1 pd-bottom-6">
                    <!------------------------------------->
                    <form>
                        <div class="row">
                            <div class="col-md-6 _ro-reservation">
                                <div class="text-center">
                                    <input  type="text" name="name" class="__reservation-input" placeholder="Name">
                                </div>
                            </div>
                            <!------------------------------------->
                            <div class="col-md-2">
                                <select class="__reservation-input __list">
                                    <option value="">Morning</option>
                                    <option value="">Afternoon</option>
                                    <option value="">Evening</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input  type="date" name="date" class="__reservation-input" placeholder="Date">
                                <!--<input type="text" name="date" placeholder="Date" required="required" class="__reservation-input hasDatepicker" >-->
                            </div>
                            <!------------------------------------->
                            <!------------------------------------->
                            <div class="col-md-6">
                                <div class="text-center">
                                    <input  type="email" name="email" class="__reservation-input" placeholder="Email">
                                </div>
                            </div>
                            <!------------------------------------->
                            <div class="col-md-4">
                                <select class="__reservation-input __list">
                                    <option value="">Sapa</option>
                                    <option value="">Message</option>
                                    <option value="">Yoga</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <a href="#"> <div class="btn-book button-default bgc-gray-4 upper-case color-light hover-bgc-main1 hover-color-light">
                                    Book
                                </div></a>
                            </div>
                        </div>
                        <!------------------------------------->
                    </form>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="__open-time text-center">
                        Opentime:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00am -11:30am&nbsp;&nbsp;/&nbsp;&nbsp;2:00pm-5:30pm&nbsp;&nbsp;/&nbsp;&nbsp;7:00pm-10:00pm
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <hr>
        </div>
    </div>
</div>
<div ng-include="'templates/components/footer1.html'"></div>