

<div ng-include="'templates/components/navbar1.html'" class="mgb-50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div aqua-template data-json="slidershop"  data-template="slider_shop" data-callback="Aqua.logger('slide_shop')" >
            </div>
        </div>
        <div class="col-md-4 col-xs-12 center-block">
            <div ng-include="'templates/components/banner_shoppage.html'" class="mgb-50"></div>
        </div>
    </div>
</div>

<div ng-include="'templates/components/tabshop.html'" class="pd-bottom-6 pdb-xs-5 mgb-xs--25"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="custom_hr">

            </div>
        </div>
    </div>
</div>

<div ng-include="'templates/components/footer1.html'"></div>