<div ng-include="'templates/components/navbar2d.html'" class="mgb-60 mgb-xs-40"></div>
<!--<div aqua-template data-json="testimonial" data-template="testimonial4" data-callback="Aqua.logger('testinonial4')">-->
<!--</div>-->
<!--<div aqua-template data-json="testimonial" data-template="testinonial3" data-callback="Aqua.logger('testinonial3')">-->
<!--</div>-->

<div class="container pdb-40 pdb-xs-20 mgb-xs--15">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center margin-bottom-9" >
            * * *<br>
            When you have once seen the glow of happiness on the face of a beloved person, you know that a man can have no vocation but to awaken that light on the faces surrounding him. In the depth of winter,<br>
            I finally learned that within me there lay an invincible summer.
        </div>
    </div>
</div>
<!-------------------------->
<div aqua-template data-json="shop-product" data-template="shop-product" data-callback="Aqua.logger('shop')">
</div>
<!------------------------->
<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
                <div class="custom_hr mgt-xs--40 "></div>
        </div>
    </div>
</div>
<div ng-include="'templates/components/footer1.html' " class="mgt-xs--30"></div>