<div ng-include="'templates/components/navbar2d.html'" class="mgb-60 mgb-xs-40"></div>
<div class="container">
    <div class="aqua-countdown-container  " style="background-image: url(assets/images/reservation.jpg);">
        <div class=" text-center">
            <div class="__content">
                <div class="__clock icon-basic-chronometer">
                </div>
                <div class="title upper-case">
                    THIS SITE UNDER CONSTRUCTION
                </div>
                <div class="__note italic">
                    We’re working on some improvements and will come back in
                </div>
                <div id="padZeroes" aqua-countdown></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mgt-60 mgb-10 mgt-xs-40">
            <hr>
        </div>
    </div>
</div>
<div ng-include="'templates/components/footer1.html'" class="mgt-xs--20"></div>