<!--<div aqua-template data-json="service10" data-template="service10" data-callback="Aqua.logger('service10')" >-->
<!--</div>-->
<div ng-include="'templates/components/head1.html'"></div>

<!--<div style="background-image: url(assets/images/slider-bg-3.jpg);height: 1000px;;">-->
    <!--<div ng-include="'templates/components/navbar6.html'"></div>-->
<!--</div>-->
<!----------------------------------------->
<!--<div ng-include="'templates/components/_about_us_1.html'"></div>-->
<!--<div style="width: 100%;height: 50px;background-color: red;"></div>-->
<!--------------------------------------------------------------->
<div aqua-template data-json="about" data-template="_about_us_1" data-callback="Aqua.logger('_about_us_1')" id="about">
</div>
<!------------------------------->
<div aqua-template data-json="team1" data-template="team2" data-callback="Aqua.logger('team2')" class="pd-top-30 mgb-60" >

</div>
<!------------------------------------------->
<div aqua-template data-json="service45" data-template="service_34" data-callback="Aqua.logger('service45')" class="pd-bottom-6">
</div>

<div ng-include="'templates/components/service10.html'"></div>
<!---list_--service----------------------------------------->
<div aqua-template data-json="list_service" data-template="list_service2" data-callback="Aqua.logger('list_service2')" >
</div>
<!--<div ng-include="'templates/components/list_service2.html'"></div>-->
<!------------------------------------------------------------->
<div aqua-template data-template="replated_post" data-json="relatepost" data-callback="Aqua.logger('replatepost')" class=""></div>
<!-------------calltoaction-------------------->
<div ng-include="'templates/components/call-to-action-2.html'"></div>
<!--------------------------------->
<div aqua-template data-json="testimonial" data-template="testinonial3" data-callback="Aqua.logger('testinonial3')" class="mgb-30">
</div>


<div ng-include="'templates/components/form_sign_in.html'"></div>
<div aqua-template  data-template="gallery" data-json="gallery">
</div>
<div class="bgc-gray-2b">
    <div ng-include="'templates/components/footer2.html'"></div>
</div>