<!--<div aqua-template data-json="slider1" data-template="slide_head" data-callback="Aqua.logger('slide_head')" >-->
<!--</div>-->
<div ng-include="'templates/components/head2.html'"></div>

<div class="bgc-e7">
    <div aqua-template data-json="service45" data-template="service_6" data-callback="Aqua.logger('service45')" class="pdb-90">
    </div>
</div>

<div aqua-template data-json="list_service" data-template="service-update-01" data-callback="Aqua.logger('service-update-01')" >
</div>
<div aqua-template data-json="team1" data-template="team2" data-callback="Aqua.logger('team2')" ></div>

<div ng-include="'templates/components/service13.html'" style="background-color: #ABDCE1"></div>

<div ng-include="'templates/components/callto-action1.html'" class="mgb-60 bgc-main1""></div>

<div aqua-template data-json="testimonial" data-template="testimonial4" data-callback="Aqua.logger('testinonial4')">
</div>

<div aqua-template data-json="relatepost" data-template="replated_post" data-callback="Aqua.logger('relatepost')">
</div>

<div class="text-center pdt-40 pdb-30">
    <div class="aqua-heading ">
        <div class="__aqua-heading-title pd-bottom-2 upper-case">
            MEMBERSHIP
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet<br>
        dolore magna aliquam erat volutpat ...</p>
</div>


<div aqua-template template="list_product" data-json="pricing_table_member_ship" data-callback="Aqua.logger('pricing-table')" class="pd-bottom-8"></div>

<div ng-include="'templates/components/form_sign_in.html'" class="bgc-light-e pdt-30"></div>
<!--<div aqua-template data-json="list_service" data-template="list_service2" data-callback="Aqua.logger('service-update-01')" class="pd-top-2">-->
<!--</div>-->
<!--<div>-->
    <!--<div ng-include="'templates/components/footer1.html'"></div>-->
<!--</div>-->
<div>
    <div ng-include="'templates/components/footer2.html'" style="background-color: #2b2b2b"></div>
</div>
